<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
        
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Bakiyem</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ user.balance | currency:'USD' }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                               İşlem Adedim </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ transactionNumber }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      

        <!-- Pending Requests Card Example -->
        
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Son İşlemlerim</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>

                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <th scope="col">İşlem Numarası</th>
                            <th scope="col">Coin Adı</th>
                            <th scope="col">Coin Hacmi</th>
                            <th scope="col">Coin Tutarı $</th>
                            <th scope="col">İşlem Türü</th>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let transaction of user.transactions.slice(startIndex, endIndex); let i = index">
                              <tr [class.table-success]="transaction.type === 'buy'" [class.table-danger]="transaction.type !== 'buy'">
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.coin_name }}</td>
                                <td>{{ transaction.volume_of_coin }}</td>
                                <td>{{ transaction.volume_of_dolar }}</td>
                                <td>{{ transaction.type }}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                          
                          <tfoot>
                            <tr>
                              <td colspan="5">
                                <div class="d-flex justify-content-between">
                                  <button class="btn btn-primary" (click)="previous()" [disabled]="currentPage === 1">Previous</button>
                                  <button class="btn btn-primary" (click)="next()" [disabled]="currentPage === totalPages">Next</button>
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                    </table>
                    
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Adet Olarak Dağılım Grafiği</h6>
              </div>
              <div class="card-body">
                <canvas #pieChart></canvas>
              </div>
            </div>
            <br>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Fiyat Olarak Dağılım Grafiği</h6>
                </div>
                <div class="card-body">
                  <canvas #pieChartPrice></canvas>
                </div>
              </div>
          </div>
    <!-- Content Row -->
    

</div>
